<ion-content padding *ngIf="podeVer">
  <form (ngSubmit)="login(credential)">
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="credential.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Senha</ion-label>
      <ion-input type="password" [(ngModel)]="credential.password" name="password"></ion-input>
    </ion-item>
    <button ion-button type="submit" block [disabled]="buscando">Login</button>
  </form>
  <ion-spinner name="bubbles" *ngIf="buscando"></ion-spinner>
</ion-content>
